.block, .main {
    overflow: hidden;
}

body, pre {
    color: #fff;
    font-family: Righteous;
}

body {
    margin-top: 20px;
    background-image: url("../images/background.jpg");
}

/* NAVIGATION */

.nav-table {
    height: 100%;
    width: 100%;
}

.nav-logo {
    color: white;
    margin-left: 10px;
    display: inline-block;
    font-family: Huggable;
    font-size: 34px;
    vertical-align: middle;
}

.nav-logo:hover {
    text-decoration: none;
}

.nav-logo:focus {
    text-decoration: none;
}

.nav-list-item {
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.navbar .nav .nav-link:hover,
.navbar .nav .nav-link:focus {
    color: #e08821;
    background-color: #101010;
    text-decoration: none;
    transition: 0.3s;
}

.nav-link {
    color: #FFFFFF;
    font-family: Flatwheat;
    font-size: 18px;
}

a {
    color: #295af7;
}

a:focus, a:hover {
    color: #328bf8;
}

ul {
    margin: 0;
    padding: 0;
}

/* FORMS */
input {
    background-color: #202020;
    border-radius: 4px;
    border: solid 2px black;
}

label {
    font-weight: normal;
}

/*
input[type="submit"] {
    background-color: #252525;
    padding: 5px 10px;
}

input[type="submit"]:hover {
    color: #ff892b;
    transition: 0.3s;
}
*/

/* TABLES */
.register-table tr {
    padding: 5px 10px;
}

.register-table td {
    padding: 5px 10px;
}

/* PANELS */
.panel-inverted {
    background-color: #3f3b3b;
}

.panel-inverted > .panel-heading {
    background-color: #2b2727;
    border-bottom: 1px solid #202020;
    font-size: 18px;
}

.panel-inverted .form-control {
    color: #303030;
}

.panel-body label {
    font-weight: normal;
}

/* SECTIONS */

.nbd-section {
    background-color: rgba(16, 16, 16, 0.95);
    margin: 10px 0;
    border: 1px solid transparent;
    padding-bottom: 10px;
}

.nbd-section-header h1 {
    margin: 0;
    padding: 10px 0px;
    color: #db6a1d;
}

.nbd-section-header {
    background-color: rgba(14, 27, 41, 0.7);
}

.nbd-section-header,
.nbd-section-body {
    padding: 0px 10px;
}

.nbd-section-body {
    margin-top: 15px;
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

/* NEWS */
.news {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: dashed 2px rgb(0, 54, 83);
}

.news-header h1,
.news-header h2 {
    margin: 0;
    padding: 0;
}

.news-info {
    margin-bottom: 10px;
}

/* Server section */
.server-info {
}

/* TEXT FORMATTING */
p {
    text-align: justify;
}

h1, h2, h3, h4, h5 {
    font-family: PassionOne;
}

input[type="text"] {
    min-width: 20%;
}

input[type="submit"],
input[type="button"] {
    padding: 2px 10px;
}

/* USER PROFILE */
.avatar {
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px
}

.profile-avatar {
    text-align: center;
}

.profile-details {
    vertical-align: middle;
}

.profile-details tr {
    padding: 5px 20px;
}

.profile-details td {
    padding: 5px 20px;
}

/* FORUM */

.table .category,
.table .forum-title {
    background-color: rgba(14, 27, 41, 0.95);
    color: #db6a1d;
    width: 100%;
}

.table .category td,
.table .forum-title-td {
    border: none;
    font-family: 'PassionOne';
    font-size: 32px;
}

.forums .forum,
.forums tr,
.forum-title,
.topics tr,
.topics .topic td {
    border: 3px solid rgb(14, 27, 41);
}

.table .forum {
    vertical-align: middle;
}

.table .last-post {
    text-align: center;
}

.table .forum,
.table .topic {
    background-color: rgba(0, 0, 0, 0.95);
}

.forums .forum {
    font-size: 18px;
    font-family: 'Righteous';
    padding: 15px 5px;
}

.topics .topic td {
    padding: 20px 5px;
}

.table .forum-title .post-add-button {
    border: none;
    text-align: right;
    vertical-align: middle;
}

.topic .topic-owner,
.topic .topic-date,
.topic .topic-last-post {
    text-align: center;
}
.topic .topic-title,
.topic .topic-owner,
.topic .topic-date,
.topic .topic-last-post {
    vertical-align: middle;
}

/* ADMIN */

.admin-forum-category {
    border: 1px solid #333;
    margin: 10px 0px;
}

.admin-category-title {
    background-color: rgba(14, 27, 41, 1);
    color: #db6a1d;
    margin: 0;
    padding: 0;
    width: 100%;
}

.admin-forum-category h3 {
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.category-actions {
    text-align: right;
}

.admin-forums h4 {
    font-size: 20px;
}

.admin-forums td,
.admin-forums th {
    text-align: center;
}

.admin-forums .forum-title {
    text-align: left;
}

.admin-forums .table {
    border: 1px solid whitesmoke;
    margin-bottom: 0;
}

/*--------------------------------
  1) BASIC STYLES
--------------------------------*/
/* line 4, ../scss/_app-styles.scss */
::-moz-selection {
    background: #8ab15f;
    color: #302429;
    text-shadow: none;
}

/* line 5, ../scss/_app-styles.scss */
::selection {
    background: #ccc;
    color: #302429;
    text-shadow: none;
}

/* line 7, ../scss/_app-styles.scss */
::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.73333rem;
}

/* line 8, ../scss/_app-styles.scss */
:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.73333rem;
}

/* line 9, ../scss/_app-styles.scss */
::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.73333rem;
}

/* line 10, ../scss/_app-styles.scss */
:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.73333rem;
}

.hero {
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0 15px 0;
}

.hero .hero-content {
    background-color: #8ab15f;
    width: 100%;
    height: 79px;
    border-radius: 10px 0 0 10px;
}

.hero-content .name {
    padding-left: 10px;
}

.hero-content .info {
    background-color: #f4ebe0;
    height: 58px;
    line-height: 58px;
    padding-left: 80px;
    border-radius: 10px 0 0 10px;
}

.hero-content .info-content {
    left: 50%;
    transform: translateX(-50%);
}

.hero-content .info-content div {
    text-transform: capitalize;
}

.hero-content .info-content div:before {
    content: '';
    background: url('../images/herocreator/sprite-user-profile.png') no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 0 5px -10px 0;
}

.hero-content .info-content div.hero-team.team-royal:before {
    background-position: -460px 0;
}
.hero-content .info-content div.hero-team.team-national:before {
    background-position: -420px 0;
}
.hero-content .info-content div.hero-class.class-soldier:before {
    background-position: -380px 0;
}
.hero-content .info-content div.hero-class.class-gunner:before {
    background-position: -340px 0;
}
.hero-content .info-content div.hero-class.class-commando:before {
    background-position: -300px 0;
}
.hero-content .info-content div.hero-level.level-1:before {
    background-position: -500px 0;
}
.hero-content .info-content div.hero-level.level-2:before {
    background-position: -540px 0;
}

.hero-content .info-content div.hero-level.level-3:before {
    background-position: -580px 0;
}

.hero-content .info-content div.hero-level.level-4:before {
    background-position: -620px 0;
}

.hero-content .info-content div.hero-level.level-5:before {
    background-position: -660px 0;
}

.hero-content .info-content div.hero-level.level-6:before {
    background-position: -700px 0;
}

.hero-content .info-content div.hero-level.level-7:before {
    background-position: -740px 0;
}

.hero-content .info-content div.hero-level.level-8:before {
    background-position: -780px 0;
}

.hero-content .info-content div.hero-level.level-9:before {
    background-position: -820px 0;
}

.hero-content .info-content div.hero-level.level-10:before {
    background-position: -860px 0;
}

.hero-content .info-content div.hero-level.level-11:before {
    background-position: -900px 0;
}

.hero-content .info-content div.hero-level.level-12:before {
    background-position: -940px 0;
}

.hero-content .info-content div.hero-level.level-13:before {
    background-position: -980px 0;
}

.hero-content .info-content div.hero-level.level-14:before {
    background-position: -1020px 0;
}

.hero-content .info-content div.hero-level.level-15:before {
    background-position: -1060px 0;
}

.hero-content .info-content div.hero-level.level-16:before {
    background-position: -1100px 0;
}

.hero-content .info-content div.hero-level.level-17:before {
    background-position: -1140px 0;
}

.hero-content .info-content div.hero-level.level-18:before {
    background-position: -1180px 0;
}

.hero-content .info-content div.hero-level.level-19:before {
    background-position: -1220px 0;
}

.hero-content .info-content div.hero-level.level-20:before {
    background-position: -1260px 0;
}

.hero-content .info-content div.hero-level.level-21:before {
    background-position: -1300px 0;
}

.hero-content .info-content div.hero-level.level-22:before {
    background-position: -1340px 0;
}

.hero-content .info-content div.hero-level.level-23:before {
    background-position: -1380px 0;
}

.hero-content .info-content div.hero-level.level-24:before {
    background-position: -1420px 0;
}

.hero-content .info-content div.hero-level.level-25:before {
    background-position: -1460px 0;
}

.hero-content .info-content div.hero-level.level-26:before {
    background-position: -1500px 0;
}

.hero-content .info-content div.hero-level.level-27:before {
    background-position: -1540px 0;
}

.hero-content .info-content div.hero-level.level-28:before {
    background-position: -1580px 0;
}

.hero-content .info-content div.hero-level.level-29:before {
    background-position: -1620px 0;
}

.hero-content .info-content div.hero-level.level-30:before {
    background-position: -1660px 0;
}
.hero-content:after {
    content: '';
    width: 15px;
    height: 21px;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 1px;
    border-style: solid;
    border-width: 21px 15px 0 0;
    border-color: #8ab15f transparent transparent transparent;
}

.hero .hero-image {
    min-height: 79px;
    float: left;
    border-radius: 7px;
}

.hero .hero-image span {
    float: left;
    height: 79px;
    margin: 0;
    width: 82px;
    background-repeat: no-repeat;
}

.hero .hero-image.image-national {
    background: url('../images/herocreator/bg_national.png') no-repeat -5px -5px;
    background-size: 92px 88px;
}

.hero .hero-image.image-royal {
    background: url('../images/herocreator/bg_royal.png') no-repeat -5px -5px;
    background-size: 92px 88px;
}

.hero .hero-image .image-commando {
    background-position: -166px bottom;
}

.hero .hero-image .image-gunner {
    background-position: -83px bottom;
}

.hero .hero-image .image-soldier {
    background-position: 0 bottom;
}

.hero .hero-info {
    color: #131313;
}

/* Added fonts */
@font-face {
    font-family: "Flatwheat";
    src: url("../fonts/Flatwheat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: "Huggable";
    src: url("../fonts/Huggable.ttf");
}

@font-face {
    font-family: "Aller";
    src: url("../fonts/AllerDisplay.ttf");
}

@font-face {
    font-family: "Lalezar";
    src: url("../fonts/Lalezar-Regular.ttf");
}

@font-face {
    font-family: "PassionOne";
    src: url("../fonts/PassionOne-Regular.ttf"),
         url("../fonts/PassionOne-Bold.ttf"),
         url("../fonts/PassionOne-Black.ttf");
}

@font-face {
    font-family: "LuckiestGuy";
    src: url("../fonts/LuckiestGuy.ttf");
}

@font-face {
    font-family: "RammettoOne";
    src: url("../fonts/RammettoOne-Regular.ttf");
}

@font-face {
    font-family: "Tipo-Capital";
    src: url("../fonts/Tipo-Capital.ttf");
}
